/* Group Styles */

/* Pill Styles */
@import "groups/pill.css";
@import "groups/pill-up.css";
@import "groups/pill-right.css";
@import "groups/pill-down.css";
@import "groups/pill-left.css";
@import "groups/pill-in.css";
@import "groups/pill-out.css";
/* Leaf Style */
@import "groups/leaf.css";
@import "groups/leaf-inverse.css";


/* Dynamic Stuff */
/*
Updated to use relative paths from ~/.config/waybar/styles/
*/
@import "../includes/border-radius.css";
@import "../includes/global.css";

/* Base HyDE Styles */

window#waybar {
    background: @bar-bg;
}

.module {
    color: @main-fg;
}

/*
 These are groups/islands configs

*/
#leaf,
#leaf-inverse,
#leaf-up,
#leaf-down,
#leaf-right,
#leaf-left,
#pill,
#pill-right,
#pill-left,
#pill-down,
#pill-up,
#pill-in,
#pill-out {
    background-color: @main-bg;
    border-style: solid;
    border-color: @main-bg;
}





#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-right: 0em;
    color: @main-fg;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    margin-left: 0.3em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-right: 0.3em;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-right: 0em;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 0.3em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-right: 0.3em;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}


window#waybar.top .modules-left,
window#waybar.top .modules-center,
window#waybar.top .modules-right,
window#waybar.bottom .modules-left,
window#waybar.bottom .modules-center,
window#waybar.bottom .modules-right {
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-left: 0.3em;
    margin-right: 0.3em;

}


/* ? Dynamic button */

window#waybar.top button,
window#waybar.bottom button {
    margin: 0.41em 0.11em;
    border: 0em;
    /* padding: 0.1em 0.5em; */

}

window#waybar.left button,
window#waybar.right button {
    margin: 0.11em 0.41em;
    border: 0em
}


#tray menu * {
    min-height: 1.6em;

}

#tray menu separator {
    min-height: 0.1em;
}

#language {
    min-width: 1.11em;
}

#temperature,
#temperature.warning,
#temperature.critical {
    background-color: transparent;
}